h1 {
    text-align: left;
    font-size: 35px;
    color: cornflowerblue;
    padding: 5px;
    /* background-color: rgba(45,45,45,0.1); */
    text-transform: capitalize;
}
h1:hover {
  color: red;
}
h2 {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    color: lightseagreen;
    padding: 10px;
    /* background-color: rgba(45,45,45,0.25); */
    text-transform: uppercase;
}
h2:hover {
  color: red;
}
.img-container {
    text-align: center;
    }
img {
    width: 500px;
    height: 500px;
}
#thumbnail {
box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.4);
}
#gradient1 {
height: 300px;
background-color: linen;
/* background-image: linear-gradient(blue, orange); */
}

.text-center {
    text-align: center;
}

.caption {
    width: 100%;
}


